.flash {
    clear: both;
	margin:8px;
	padding:6px 3px 6px 24px;
	border:1px solid;
	background-repeat:no-repeat;
	background-position:3px;
    color: #333;
    line-height:16px;
}
.flash_info {
	background-color:#BDE5F8;
	background-image:url('../images/flash_info.png');
	border-color:#00529B;
}
.flash_success {
	background-color:#DFF2BF;
	background-image:url('../images/flash_success.png');
	border-color:#4F8A10;
}
.flash_warning {
	background-color:#FEEFB3;
	background-image:url('../images/flash_warning.png');
	border-color:#9F6000;
}
.flash_error {
	background-color:#FFBABA;
	background-image:url('../images/flash_error.png');
	border-color:#D8000C;
}
.flash_email {
	background-color:#BDE5F8;
	background-image:url('../images/flash_email.png');
	border-color:#00529B;
}
.emailMessage {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background: #fff;
	border-color:#00529B;
}
.emailMessage hr {
    border-bottom: 1px solid #000;
}
